<h1>Connections</h1>
<% @relationships.each_slice(3) do |three_relationships|%>
  <div class="row">
    <% three_relationships.each do |relationship| %>
      <div class="col-md-4">
        <div class="well">
        <h2>First Name: <%= relationship.connection.name %></h2>
        <p>Connection: <%= relationship.connected_status %></p>
        <p>Next Step: <%= relationship.step.title %></p>
        <p><%= relationship.connection.name %>'s Status: <%= relationship.connection_status %></p>
        <p>Your Status: <%= relationship.user_status %></p>
        <a href="/relationships/<%= relationship.id %>">More info</a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<h2>Not Yet Updated</h2>
<% @my_not_yet_updated.each_slice(3) do |three_relationships|%>
  <div class="row">
    <% three_relationships.each do |relationship| %>
      <div class="col-md-4">
        <div class="well">
        <h2>First Name: <%= relationship.connection.name %></h2>
        <p>Connection: <%= relationship.connected_status %></p>
        <p>Next Step: <%= relationship.step.title %></p>
        <p><%= relationship.connection.name %>'s Status: <%= relationship.connection_status %></p>
        <p>Your Status: <%= relationship.user_status %></p>
        <a href="/relationships/<%= relationship.id %>">More info</a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<h2>Their Not Yet Updated</h2>
<% @their_not_yet_updated.each_slice(3) do |three_relationships|%>
  <div class="row">
    <% three_relationships.each do |relationship| %>
      <div class="col-md-4">
        <div class="well">
        <h2>First Name: <%= relationship.connection.name %></h2>
        <p>Connection: <%= relationship.connected_status %></p>
        <p>Next Step: <%= relationship.step.title %></p>
        <p><%= relationship.connection.name %>'s Status: <%= relationship.connection_status %></p>
        <p>Your Status: <%= relationship.user_status %></p>
        <a href="/relationships/<%= relationship.id %>">More info</a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<h2>My Yellow Status</h2>
<% @yellow_status.each_slice(3) do |three_relationships|%>
  <div class="row">
    <% three_relationships.each do |relationship| %>
      <div class="col-md-4">
        <div class="well">
        <h2>First Name: <%= relationship.connection.name %></h2>
        <p>Connection: <%= relationship.connected_status %></p>
        <p>Next Step: <%= relationship.step.title %></p>
        <p><%= relationship.connection.name %>'s Status: <%= relationship.connection_status %></p>
        <p>Your Status: <%= relationship.user_status %></p>
        <a href="/relationships/<%= relationship.id %>">More info</a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<h2>Their Yellow Status</h2>
<% @their_yellow_status.each_slice(3) do |three_relationships|%>
  <div class="row">
    <% three_relationships.each do |relationship| %>
      <div class="col-md-4">
        <div class="well">
        <h2>First Name: <%= relationship.connection.name %></h2>
        <p>Connection: <%= relationship.connected_status %></p>
        <p>Next Step: <%= relationship.step.title %></p>
        <p><%= relationship.connection.name %>'s Status: <%= relationship.connection_status %></p>
        <p>Your Status: <%= relationship.user_status %></p>
        <a href="/relationships/<%= relationship.id %>">More info</a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<% console %>
