<div class="container">
  <div class="col-md-3"></div>
    <div class="well">
      <div class="jumbotron"><h2>Connection Information</h2>
        <h3>First Name: <%= @relationship.connection.name %></h3>
        <p><img src="<%= @relationship.connection.image %>" width: "100%"/></p>
        <p>Connection: <%= @relationship.connected_status %></p>
        <p>Next Step: <%= @relationship.step.title %></p>
        <p><%= @relationship.connection.name %>'s Status: <%= @relationship.connection_status %></p>
        <%= form_tag "/relationships/#{@relationship.id}", method: "patch" do %>
          <div class="form-group">
          <p>Your Status:
            <% if @relationship.step_status == "Unavailable" %>
              Unavailable <a href="">Reconnect</a>
            <% else %>
              <select name="step_status">
                <%= options_for_select([['Green'], ['Yellow'], ['Red']], @relationship.step_status) %>
              </select>
              <input type="submit" name="Update Status">
            <% end %>
          </p>
          </div>
        <% end %>
        </div>
      </div>
    </div>
