<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Multipurpose bootstrap template">

  <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,600,700" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/plugins.min.css">
  <link rel="stylesheet" href="/assets/css/settings.css">
  <link rel="stylesheet" href="/assets/css/layers.css">
  <link rel="stylesheet" href="/assets/css/navigation.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/assets/images/icons/favicon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/faviconx57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icons/faviconx72.png">

  <!-- Modernizr -->
  <script src="/assets/js/modernizr.js"></script>
  <title>Capstone</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="transparent-sticky-header">
  <div id="page-loader">
      <div class="sk-double-bounce">
          <div class="sk-child sk-double-bounce1"></div><!-- End .sk-child -->
          <div class="sk-child sk-double-bounce2"></div><!-- End .sk-child -->
      </div><!-- End .sk-double-bounce -->
  </div><!-- End #page-loader -->

  <div id="wrapper">
      <header class="header header2 transparent sticky-header animated-dropdown ttb-dropdown">
          <div class="header-inner">
              <div class="container-fluid">
                  <a href="index.html" class="site-logo" title="Bold - Multipurpose Template">
                      <img src="assets/images/logo.png" data-rjs="3" alt="Bold Logo">
                      <span class="sr-only">Bold</span>
                  </a>

                  <div class="dropdown header-dropdown cart-dropdown">
                      

                      <div class="dropdown-menu">  
                      </div><!-- End .dropdown-menu -->
                  </div><!-- End .cartdropdown -->

                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-container" aria-expanded="false">
                      <span class="toggle-text">Menu</span>
                      <span class="toggle-wrapper">
                          <span class="sr-only">Toggle Menu</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </span>
                  </button>

                  <div class="collapse navbar-collapse" id="main-nav-container">
                      <ul class="nav navbar-nav">
                          <li class="dropdown">
                              <a href="/relationships" class="dropdown-toggle" role="button" aria-expanded="false">My Relationships</a>
                          </li>
                          <li class="dropdown">
                              <a href="/pending" class="dropdown-toggle" role="button" aria-expanded="false">Pending</a>
                          </li>
                          <li class="dropdown">
                              <a href="/disconnected" class="dropdown-toggle" role="button" aria-expanded="false">Disconnected</a>
                          </li>
                           <li class="dropdown">
                              <a href="/users" class="dropdown-toggle" role="button" aria-expanded="false">Users</a>
                          </li>
                          <% if current_user %> 
                            <li class="dropdown">
                              <a href="/#">Hello, <%= current_user.name %></a>
                            </li>
                            <li class="dropdown-active">  
                              <a href="/logout" class="dropdown-toggle" role="button" aria-expanded="false">Logout</a>
                            </li> 
                            
                          <% else %>
                            <li class="dropdown-active">  
                              <a class="dropdown-toggle" role="button" aria-expanded="false" data-toggle="modal" data-target="#modal-contact-form">Signup</a>
                            </li>
                            <li class="dropdown active">  
                              <a class="dropdown-toggle" role="button" aria-expanded="false" data-toggle="modal" data-target="#modal-login-form">Login</a>
                            </li>  
                          <% end %>
                          </li>
                          <li class="dropdown pull-right">
                              <a href="#" class="header-search-toggle" role="button" title="Open Search"><span class="visible-inline-xs">Search</span><i class="fa fa-search"></i></a>
                          </li>
                      </ul>
                  </div><!-- /.navbar-collapse -->
              </div><!-- End .container-fluid -->
          </div><!-- End .header-inner -->
      </header><!-- End .header -->
      

      <div class="header-search-form">
          <a href="/#" class="header-search-toggle" title="Close"><i class="fa fa-times"></i></a>
          <form action="#">
              <input type="search" class="form-control" placeholder="Type in here" required>
          </form>
      </div>
      <!-- End .header-search-form -->
      
      <%= yield %>


      <footer class="footer">
          

          <div class="footer-bottom">
              <div class="container-fluid">
                  <div class="footer-left">
                      <div class="social-icons">
                          <label>Find Us:</label>
                          <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                          <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                          <a href="#" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                          <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                          <a href="#" class="social-icon" title="Tumblr"><i class="fa fa-tumblr"></i></a>
                          <a href="#" class="social-icon" title="Flickr"><i class="fa fa-flickr"></i></a>
                          <a href="#" class="social-icon" title="Snapchat"><i class="fa fa-snapchat"></i></a>
                          <a href="#" class="social-icon" title="Vine"><i class="fa fa-vine"></i></a>
                      </div><!-- End .social-icons -->
                  </div><!-- End .footer-left -->

                  <div class="footer-right">
                      <ul class="footer-menu">
                          <li class="active"><a href="/">FollowUp</a></li>
                          <li><a href="/Linkedin">Sign Up With LinkedIn</a></li>
                          <li><a href="/users">All Users</a></li>
                      </ul>
                      <p class="copyright"><strong>FollowUp</strong> - All rights reserved - 2017</p>
                  </div><!-- End .footer-right -->
              </div><!-- End .container-fluid -->
          </div><!-- End .footer-bottom -->
      </footer><!-- End .footer -->
  </div><!-- End #wrapper -->
  <a id="scroll-top" href="/#top" title="Scroll top"><i class="fa fa-angle-up"></i></a>

  <!-- End -->
  <script src="/assets/js/plugins.min.js"></script>
  <script src="/assets/js/main.js"></script>

  <!-- REVOLUTION JS FILES -->
  <script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script>

  <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
  (Load Extensions only on Local File Systems !  
  The following part can be removed on Server for On Demand Loading) -->  
  <script type="text/javascript" src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
  <script type="text/javascript" src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
  <script type="text/javascript" src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script type="text/javascript" src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script type="text/javascript" src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
  <script type="text/javascript" src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
  <script type="text/javascript" src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
  <script type="text/javascript" src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script type="text/javascript" src="/assets/js/extensions/revolution.extension.video.min.js"></script>

  <script type="text/javascript">
      (function() {
          "use strict";
       
          $(document).ready(function() {
              var revapi;
              if($("#rev_slider").revolution == undefined){
                  revslider_showDoubleJqueryError("#rev_slider");
              }else{
                  revapi = $("#rev_slider").show().revolution({
                      sliderType:"standard",
                      jsFileLocation:"assets/js/",
                      sliderLayout:"auto",
                      dottedOverlay:"none",
                      delay:10000,
                      navigation: {
                          keyboardNavigation: "on",
                          keyboard_direction: "horizontal",
                          mouseScrollNavigation: "off",
                          onHoverStop: "off",
                          touch: {
                              touchenabled: "on",
                              swipe_threshold: 75,
                              swipe_min_touches: 1,
                              swipe_direction: "horizontal",
                              drag_block_vertical: false
                          },
                          arrows: {
                              style: "hades",
                              enable: true,
                              hide_onmobile: false,
                              hide_under: 992,
                              hide_onleave: false,
                              tmp: '<div class="tp-arr-allwrapper"><div class="tp-arr-imgholder"></div></div>',
                              left: {
                                  h_align: "left",
                                  v_align: "center",
                                  h_offset: 0,
                                  v_offset: 0
                              },
                              right: {
                                  h_align: "right",
                                  v_align: "center",
                                  h_offset: 0,
                                  v_offset: 0
                              }
                          },
                          bullets: {
                              enable: true,
                              hide_onmobile: false,
                              hide_under: 480,
                              style: "hades",
                              hide_onleave: false,
                              direction: "horizontal",
                              h_align: "center",
                              v_align: "bottom",
                              h_offset: 0,
                              v_offset: 25,
                              space: 8,
                              tmp: '<span class="tp-bullet-image"></span>'
                          }
                      },
                      viewPort: {
                          enable:true,
                          outof:"pause",
                          visible_area:"80%"
                      },
                      responsiveLevels:[1200,992,768,480],
                      gridwidth:[1170,970,750,480],
                      gridheight:[600,540,480,360],
                      autoHeight:"off",
                      lazyType:"single",
                      shadow:0,
                      spinner:"off",
                      stopLoop:"off",
                      stopAfterLoops:-1,
                      stopAtSlide:-1,
                      shuffle:"off",
                      hideThumbsOnMobile:"off",
                      hideSliderAtLimit:0,
                      hideCaptionAtLimit:0,
                      hideAllCaptionAtLilmit:0,
                      debugMode:false
                  });

              }
          });

      })();
  </script>

</body>
</html>